#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left {
  width: 100%;
  border: 1px solid rgb(145, 17, 17);
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border: 1px solid rgb(18, 133, 23);
  padding: 0 50px 0 50px;
}

#createUserWrapper {
  display: flex;
  justify-content: right;
}

#createNewPerson {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fa5252;
  color: whitesmoke;
  font-size: 16px;
  background: #fa5252;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

#userContainer {
  border: 1px solid rgb(36, 25, 189);
  height: 500px;
}

#controlUnit {
  border: 1px solid rgb(33, 38, 39);
}

#controlUnit p {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#controlUnitActions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid rgb(182, 16, 146); */
}

#controlUnitActions div {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

#modeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #e64980;
  background: #e64980;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 22px;
  padding: 14px;
  cursor: pointer;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  /* border: 1px solid rgb(226, 16, 97); */
}

#speedTestText {
  padding-right: 20px;
}

#speedTest {
  width: 150px;
  height: 40px;
}

#actionArea {
  width: 900px;
  height: 900px;
  background-color: whitesmoke;
  cursor: none;
}

/* #humanSpawner,
#humanSpawnerCursor,
#sampleCursor, */
.partPoint {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50px;
}

/* #sampleCursor {
  width: 3px;
  height: 3px;
} */

/* #humanSpawner {
  position: absolute;
  right: 100px;
  cursor: pointer;
} */

/* #humanSpawnerCursor {
  opacity: 0.5;
  position: absolute;
  right: 50px;
} */

#player {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 22px;
  height: 22px;
  background-color: rgb(254, 110, 110);
  border-radius: 50px;
}
