@font-face {
  font-family: Roboto Light;
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto Medium;
  src: url(fonts/Roboto-Medium.ttf);
}

body {
  font-family: 'Roboto Light';
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left {
  width: 65%;
  margin-right: 10px;
  border: 1px solid rgba(33, 38, 39, 0.425);
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  border: 1px solid rgba(33, 38, 39, 0.425);
  padding: 0 50px 0 50px;
}

#createUserWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 0px;
}

#createNewPerson {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1px solid #fa5252;
  color: whitesmoke;
  font-size: 16px;
  background: #fa5252be;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

#createNewPerson:hover {
  background: #fa5252e7;
}

#camera {
  background-color: #40c05788;
}

#camera:hover {
  background-color: #40c057d8;
}

#scud {
  background-color: #15abbfa2;
}

#scud:hover {
  background-color: #15abbfc2;
}

#rtls {
  background-color: #be4bdba6;
}

#rtls:hover {
  background-color: #be4bdbc4;
}

#wall {
  background-color: #7950f298;
}

#wall:hover {
  background-color: #7950f2c5;
}

#personList {
  margin: 0px;
  padding: 15px;
  list-style-type: none;
}

#idWrapper {
  display: flex;
  justify-content: left;
}

.personInput {
  height: 20px;
  border: 1px solid rgba(33, 38, 39, 0.425);
  margin-left: 15px;
}

.selectUserButton {
  cursor: pointer;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  margin-bottom: 8px;
  color: white;
}

.userCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid rgba(33, 38, 39, 0.425);
  margin-bottom: 8px;
}

.userWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

.rightFlex {
  display: flex;
  align-items: flex-end;
}

#userContainer {
  border: 1px solid rgba(33, 38, 39, 0.425);
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

#controlUnit {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  border: 1px solid rgba(33, 38, 39, 0.425);
}

#controlUnit p {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#controlUnitActions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#controlUnitActions div {
  display: flex;
  align-items: center;
  padding: 15px 40px 15px 40px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

#modeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #e64980;
  background: #e64980d0;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}

#modeButton:hover {
  background: #e64980;
}

#speedTestMenu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 0px;
}

#speedTestText {
  padding-right: 20px;
}

#speedTest {
  width: 150px;
  height: 30px;
}

#actionArea {
  height: 900px;
  background-color: whitesmoke;
  cursor: none;
}

#player {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 22px;
  height: 22px;
  background-color: rgb(254, 110, 110);
  border-radius: 50px;
}
